{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ECOTRACE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
   
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: rgb(128,183,39);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Eco TRACE</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'add-record' %}"><i class="fas fa-user"></i><span>Add Activity</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% static '/images/info.pdf' %}" download="Info"><i class="fas fa-table"></i><span>Download Resources</span></a></li>
                    
                
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
            
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class ="d-flex ms-auto">
                            {% if user.is_authenticated %}
                                <span class="navbar-text me-2">Hello <b>{{ user.username }}</b>
                                <a class="nav-link" href="{% url 'sign_out' %}">Sign out </a></span>
                            {% else %}
                                <!-- <a class="nav-link me-2" href="{% url 'sign_in' %}">Sign in</a>
                                <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a> -->
                            {% endif %}
                        </div>
                    </div>
                </nav>
                <div class="container-fluid" >
                    <!-- Main Content -->
                    {% block content %}
                    <!-- Content will be dynamically included here -->
                    {% endblock %}
                </div>
            </div>
                
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <!-- <div class="text-center my-auto copyright">Ayonete Icha | MSc Cloud Computing 2024 | Scalable Cloud Programming</div> -->
                    
                    <div id="time-display"></div>
                        <select id="timezone-select" label="TimeZones">
                            <!-- Options will be populated here by populateTimezones function -->
                         </select>  
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script>
                
        // Function to update time display
        function updateTimeDisplay(time) {
            document.getElementById('time-display').textContent = time;
        }

        // Function to get current time and update display
        function displayLocalTime() {
            const now = new Date();
            updateTimeDisplay(now.toLocaleTimeString());
        }

        // Call this function initially and then every second
        displayLocalTime();
        setInterval(displayLocalTime, 1000);

        // Function to convert time when a new timezone is selected
        function convertTimezone() {
            const originalTime = new Date().toISOString();
            const originalTimezone = 'UTC'; // Assuming the server's timezone is UTC
            const targetTimezone = document.getElementById('timezone-select').value;

            fetch('https://ptvplqzlhh6754nlgl4kdwzuhq0vblxi.lambda-url.eu-west-1.on.aws/convert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 
                    originalTime: originalTime, 
                    originalTimezone: 'UTC', 
                    targetTimezone 
                }),
            })
            .then(response => response.json())
            .then(data => {
                updateTimeDisplay(data.convertedTime); // Assume your API returns a 'convertedTime' field
            })
            .catch(error => console.error('Error:', error));
        }

        // Event listener for timezone selection change
        document.getElementById('timezone-select').addEventListener('change', convertTimezone);

        // Function to populate timezone options from API
        function populateTimezones() {
            fetch('https://ptvplqzlhh6754nlgl4kdwzuhq0vblxi.lambda-url.eu-west-1.on.aws/timezones')
            .then(response => response.json())
            .then(data => {
                const timezoneSelect = document.getElementById('timezone-select');
                data.timezones.forEach(timezone => { // Assume your API returns a 'timezones' array
                    const option = document.createElement('option');
                    option.value = timezone;
                    option.textContent = timezone;
                    timezoneSelect.appendChild(option);
                });
                convertTimezone();
            })
            .catch(error => console.error('Error:', error));
        }

        // Call this function to populate timezones on page load
        populateTimezones();
    </script>
</body>

</html>